@page
@model GYM_Management.Views.Home.CoachModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Coach</title>
        </head>
    <body>
        <h1>Coach Is Here</h1>
        <img src="/assets/Pull.jpg" alt="Alternate Text" />
    </body>
</html>