﻿@{
    ViewData["Title"] = "GYM Management";
}

<main>

    <header class="section__container header__container" id="home">
        <div class="header__image">
            <img src="assets/pexels-anush-1229356.jpg" alt="header" />
        </div>
        <div class="header__content">
            <h1>The real workout starts when you  <span>want to stop</span>.</h1>
            <p class="section__description">
                You’re going to have to let it hurt. Let it suc. The harder you work, the better you will look.
                Your appearance isn’t parallel to how heavy you lift, it’s parallel to how hard you work
            </p>

        </div>
    </header>

    <section class="section__container special__container" id="exercise">
        <h2 class="section__header">Our Special Exercises</h2>
        <p class="section__description">
            Each exercise promises an unforgetable experience.
        </p>
        <div class="exercise__grid">
            <div class="exercise__card">
                <img src="assets/Pull.jpg" alt="exercise" />
                <h4>Pull Ups</h4>
                <p>
                    Push-ups are seriously the best way to tone your arms – and they tone your abs at the same time!
                    I like to do them when I’m home watching TV or listening to music.
                </p>
                <div class="exercise__ratings">
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                </div>

            </div>
            <div class="exercise__card">
                <img src="assets/Puch Up.png" alt="exercise" />
                <h4>Puch Ups</h4>
                <p>
                    You can't hire someone else to do your push-ups for you.
                </p>
                <div class="exercise__ratings">
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                </div>

            </div>
            <div class="exercise__card">
                <img src="assets/arnold-schwarzenegger-young.jpg" alt="exercise" />
                <h4>Results</h4>
                <p>
                    Fitness to me isn't about a crunch or a push up, it's about taking your power back.
                </p>
                <div class="exercise__ratings">
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                </div>

            </div>
        </div>
    </section>





    <section class="coach" id="coach">

        <div class="section__container coach__container">
            <div class="coach__image">
                <img src="assets/Tainer.jpg" alt="coach" />
            </div>
            <div class="coach__content">
                <h2 class="section__header">Trained By The Best Coach In The World</h2>
                <p class="section__description">
                    Life has its ups and downs. We call them squats.”
                    “I got 99 problems, but I am going to the gym to ignore all of them.
                    “It’s my workout. I can cry if I want to.”
                    “Hustle for that muscle.”
                    “Weights before dates.”
                    “I don’t sweat, I sparkle. “
                    “Life is short, lift heavy things.”
                    “Unless you puke, faint, or die, keep going!”
                </p>
                <ul class="coach__list">
                    <li>
                        <span><i class="ri-checkbox-fill"></i></span>
                        Don’t dream of it. Train for it.
                    </li>
                    <li>
                        <span><i class="ri-checkbox-fill"></i></span>
                        I only work out cuz I really really like donuts.
                    </li>
                    <li>
                        <span><i class="ri-checkbox-fill"></i></span>
                        You make these knees weak, and not cuz of leg day.
                    </li>
                </ul>
            </div>
        </div>
    </section>




    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</main>

